@model Mvc_Imagem.Models.Produto

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes do Produto</h2>
<hr />
<div>
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.Nome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Nome,
                                   new { @class = "form-control", @disabled = "disabled" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Preco, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Preco,
                          new { @class = "form-control", @disabled = "disabled" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Categoria.CategoriaNome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.CategoriaId, ((String)ViewBag.Categoria),
                           new { @class = "form-control", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <img src="@Model.Imagem" alt="@Model.Nome image" class="img-thumbnail" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Retornar", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>

